header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../images/apple-pie.jpg);
    background-size:cover;
    color: white;
    font-size: 80px;
}

.main-container {
    padding: 10%;

}

.recipe-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: 25px;
    margin-top: 50px;
}
.cooking-info{
    height: 80px;
    margin-top: 30px;
}

hr {
    margin-top: 25px;
}

h1 {
    font-size: 35px;
}

.ingredients {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.ingredients > p {
    margin: 2px 0;
}

.cooking-img {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}
.cooking-img img {
    height: 80px;
    max-width: 300px;
}

.directions {
    adding-left: 10px;
}

h2 {
    font-size: 35px;
}